<link rel="stylesheet" href="/css/proyecto/proyecto.css">

<form action="/proyecto/proyectoLista/{{user.idUsuarios}}" method="get" TYPE="text/css" MEDIA=screen></form>
{{#each traer}}
<div id="titulo">
    <label>{{nombreProyecto}}</label>
</div>
<div id="editar">
    <a href="/proyecto/proyectoEditar/{{idProyectos}}">

<div id="inputDescripcionProyecto">
    <label>{{descripcionProyecto}}</label>
</div>
<div id="editarDescripcionProyecto">
    <a href="/proyecto/proyectoEditar/{{idProyectos}}">

<div id="inputVisionProyecto">
    <label>{{visionProyecto}}</label>
</div>
<div id="editarVisionProyecto">
    <a href="/proyecto/proyectoEditar/{{idProyectos}}">

    <button>Editar</button></a>
</div>
{{/each}}
{{#each objetivos}}
{{/each}}
